body {
    background-color: rgb(255, 255, 255);
}

.background {
    display: flex;
    background-image: url("./Piano/photos/R.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
    width: 75rem;
}

.logo {
    height: 9rem;
    width: 9rem;
    display: flex;
    position: relative;
    left: 33.5%;
    top: 3%;
    background-image: url("../piano/Piano/photos/piano_logo.png");
    background-size: cover;
    border-radius: 100px;
}

.heading {
    font-family: Ephesis;
    display: flex;
    top: 0rem;
    left: 10rem;
    position: fixed;
    color: rgb(137 25 56);
    font-size: 4rem;
}

.keyboard {
    display: flex;
    position: relative;
    margin: auto;
    top: 4rem;
    left: -5rem;
    height: 24rem;
    width: 60rem;
}

.container-top {
    display: flex;
    position: absolute;
    background-color: black;
    height: 5rem;
    width: 60rem;
    box-shadow: 0rem 3.5rem 0rem 0rem #1c1b1b;
}

.container-left {
    display: flex;
    position: absolute;
    top: 8rem;
    background-color: black;
    height: 16rem;
    width: 3rem;
    box-shadow: 0rem 0rem 0rem 0rem gray;
    border-radius: 0rem 0rem 0rem 3rem;
}

.container-right {
    display: flex;
    position: absolute;
    left: 57rem;
    top: 8rem;
    background-color: black;
    height: 16rem;
    width: 3rem;
    box-shadow: 0rem 0rem 0rem 0rem gray;
    border-radius: 0rem 0rem 3rem 0rem;
}

.container-bottom {
    display: flex;
    position: absolute;
    top: 22rem;
    left: 2rem;
    height: 2rem;
    width: 56rem;
    background-color: black;
    border-radius: 2rem;
    z-index: 2;
}

.long-button {
    display: inline;
    position: relative;
    top: 7rem;
    left: 3rem;
    height: 14rem;
    width: 2.84rem;
    color: black;
    background-color: white;
    margin: -5%;
    box-shadow: 0px 5px 17px 4px #686262;
}

.short-button {
    position: relative;
    left: 2.9rem;
    top: 6.3rem;
    height: 8rem;
    width: 1rem;
    background-color: black;
    z-index: 2;
    box-shadow: inset 3px 7px 0px 0px #242121, 5px 8px 3px 0px #8b8a8a;
}

.two-key {
    margin: 0rem 0rem 0rem 0rem;
    display: flex;
    position: relative;
    top: 2rem;
    left: 0.35rem;
    flex-direction: row;
}

.three-key {
    display: flex;
    position: relative;
    top: 2rem;
    left: -2rem;
    margin: 0rem -7rem 0rem 0rem;
    flex-direction: row;
}

#l14 {
    left: 2rem;
}

#l22 {
    left: 2.8rem;
}

.left-shift {
    left: 1.3rem;
}

.left-shift-short {
    left: 1.2rem;
}

.key-word-up {
    text-align: center;
    position: fixed;
    top: 21.2rem;
}

.key-word-down {
    text-align: center;
    position: fixed;
    top: 33.5rem;
}

.short-button:hover {
    background-color: rgb(43, 39, 39);
}

.long-button:hover {
    background-color: rgb(241, 237, 237)
}

select {
    display: flex;
    position: absolute;
    top: 6rem;
    left: 3.5rem;
    height: fit-content;
    width: fit-content;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: #dcd6a6;
}

.display-bar {
    display: block;
    margin: auto;
    height: 3rem;
    width: 10rem;
    background-color: #dcd6a6;
    border-radius: 1rem;
    text-align: center;
}